:root {
    --txt: hsl(0, 0%, 20%);
    --bkg: hsl(0, 0%, 95%);
    --accent: hsl(0, 0%, 80%);
    --color-o: hsl(200, 45%, 75%);
    --color-x: hsl(350, 45%, 75%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --txt: hsl(0, 0%, 80%);
        --bkg: hsl(0, 0%, 5%);
        --accent: hsl(0, 0%, 20%);
        --color-o: hsl(200, 55%, 25%);
        --color-x: hsl(350, 55%, 25%);
    }
}

body {
    background-color: var(--bkg);
    color: var(--txt);
    font-family: monospace;
    font-size: 1.1rem;
    margin: auto;
    max-width: 30rem;
}

::selection {
    background-color: var(--accent);
}

#ttt-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;
    justify-content: center;
}

.endgame {
    font-weight: bold;
}

.cell {
    background-color: inherit;
    border: 1px solid var(--txt);
    color: inherit;
    cursor: pointer;
    font-size: 2rem;
}

.x, button:hover:not(:disabled) {
    background-color: var(--color-x);
}

.o, .o-active > button:hover:not(:disabled) {
    background-color: var(--color-o);
}

.cell:hover:not(:disabled)::before {
    content: "x";
}

.o-active > .cell:hover:not(:disabled)::before {
    content: "o";
}

button:disabled {
    cursor: not-allowed;
}